body{
    background-color: grey;
}
h1{
    color: green;
}
li{
    color: lightgreen;
}
p{
    color: white;
    border: solid black;
    height: 15px;
}
#grey{
    border: none;
}
button{
    width:100px;
    color: cyan;
    background-color: black;
}